@media screen and (max-width: 700px) {

    .container {
        display: flex;
    }
    .logo {
        margin: 15px 0;
    }
    .menu {
        width: 100%;
        
    }
    .menu ul { 
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #30aae1;
    }
    .menu ul li {
       
        text-align: right;
        background: #92d3f175
    }
    .menu .desktop_menu {display:none;}
}