* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
}
img {
    margin-left: 15px;
}
a {
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    height: 130px;
    padding: 3rem;
    justify-content: space-between;
 
    
    
}
#header ul li a {
    color: #727272;
    font-size: 20px;
    padding: 20px;
}
#header ul li a:hover {
    background: #00ace4;
    color: white;
}


#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
}

#menu-btn {
    display: none;
}


.home {
    background-image: url(./img/img1.jpg);
    
}


.txt h1{
    margin-left: 100px;
    font-size: 50px;
    color: white;
}

.txt p {
    margin-top: 25px;
    margin-left: 100px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-box {
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    max-width: 900px;
}
.box-info-01{
    padding: 25px;
    background: #39aae1;
    color: white;
    width: 100%;
   
}
.box-info-01 h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.box-info-01 p {
    font-size: 15px;
    margin-bottom: 15px;

}
.box-info-01 button {
    padding: 5px;
    font-size: 10px;
    border: 1px solid white;
    background: #39aae1;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.box-info-02 {
    padding: 10px;
    background: #0079c7;
    color: white;
    width: 100%;
}

.box-info-02 h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box-info-02 p {
    font-size: 15px;
    margin-bottom: 15px;

}
.box-info-02 button {
    padding: 5px;
    font-size: 10px;
    border: 1px solid white;
    background: #0079c7;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.box-info-horario {
    background: #2b4c99;
    width: 100%;
    color: white;
    
}

.box-info-horario h2 {
    padding: 10px;
    font-size: 20px;
}
.box-info-horario p {
    margin-bottom: 5px;
    margin-left: 25px;
}

.box-info-horario .horarios {
    margin: 0 auto;
    width: 90%;
}
.dias {
    margin: 15px;
}
.um {
    padding: 5px;
    background: #2b4c99;
    color: white;
}
.doze {
    margin-left: 2px;
    padding: 5px;
    background: #39aae1;
    color: white;
}
.container-news {
    display: flex;
    margin-top: 25px;
    margin-left: 120px;

  
}

.title {
    width: 100%;
    font-size: 20px;
   margin-bottom: -15px;
}

.news{
    text-align: left;
    margin-top: 40px;
    width:400px;
    height: auto;
}

.resumo h3 {
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;

}
.resumo p {
  margin: 15px; 
  font-size: 12px; 
}

.box-depart {
    display: flex;
}

.box-depart div {
    margin: 35px 15px 15px 15px;
    width: 100px;
    height: 100px;
    background:#00ace4;
}