* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
img {
    margin-left: 3rem;
}
a {
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    height: 130px;
    padding: 3rem;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#header ul li a {
    color: #727272;
    font-size: 20px;
}
#header ul li a:hover {
    padding: 15px 20px;
    background: #00ace4;
    color: white;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
}

#menu-btn {
    display: none;
}