* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
img {
    margin-left: 3rem;
}
a {
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    height: 130px;
    padding: 3rem;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#header ul li a {
    color: #727272;
    font-size: 20px;
}
#header ul li a:hover {
    padding: 15px 20px;
    background: #00ace4;
    color: white;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
}

#menu-btn {
    display: none;
}
section {
    width: 100%;
    height: 100%;
    background-image: url(./img/img1.jpg);
}

.container {
    max-width: 800px;
    
}

.txt h1{
    margin-left: 100px;
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.txt p {
    margin-top: 25px;
    margin-left: 100px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-box {
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
}
.box-info {
    padding: 25px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
.box-info h2 {
    margin-bottom: 10px;
}
.box-info p {
    font-size: 15px;
    margin-bottom: 15px;

}
.box-info button {
    padding: 5px;
    font-size: 10px;
}
